/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general */

.flex {
  display: flex;
  justify-content: space-between;
}
.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex23 {
  flex: 0 1 23%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f2f4f8;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
}

.container {
  max-width: 550px;
  margin: 0 auto;
}
.output {
  background-color: black;
  color: white;
  text-align: right;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2.5rem 1rem;
  border-radius: 20px;
}
.flex1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input {
  margin: 1.5rem 0 0rem 0;
}
.operation {
  background-color: #722333;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  width: 23%;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.value {
  background-color: #cfcfcf;
  font-size: 2.5rem;
  font-weight: bold;
  width: 30%;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 10px;
}
.input-value {
  width: 74%;
}
.equal {
  width: 22.5%;
  background-color: #328181;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.reset {
  background-color: #3d1c10;
  color: white;
}
